:root {
    --color-background: #141414;
    --color-text-primary: #FFFFFF;
    --color-text-title: #E50914;
    --color-text-main: #AAA;
    --color-background-button: #FFFFFF;
    --color-text-button: #141414;
}

/* resetando alguns estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

/* elementos base */
body {
    background: var(--color-background);
    font-family: 'Roboto', sans-serif;
    color: var(--color-text-primary);
}


header .container {
    display: flex;
    flex-direction: row; /* coloca o menu ao lado da logo */
    align-items: center; /* alinhando o menu ao centro do container */
    justify-content: space-between; /* adicionando um espaço entre o menu e a logo */    
}

.logo {
    max-width: 10%; /* tamanho da logo na tela */
    margin-left: 1%; /* espaçamento entre o lado esquerdo da tela e a logo */
    margin-top: 1%; /* espaçamento entre o topo da tela e a logo */
}

header nav a {
    text-decoration: none; /* removendo o sublinhado do link dos menus */
    margin-right: 20px; /* espaçamento entre o menu e o lado direito da tela e ente eles */
    color: var(--color-text-main);
}

header nav a:hover {
    color: var(--color-text-primary);
}

.carrossel_ra{
    display: inline-flex;
    justify-content: space-between;
    position: relative;
}
img.botaoesq{
    filter: invert();
    margin-left: 2%;
    margin-right: -10%;
}
img.botaoesq:hover{
    background-color: #ffffff7c;
}

img.botaodir{
    filter: invert();
    margin-left: -10%;
    margin-right: 2%;
}
img.botaodir:hover{
    background-color: #ffffff7c;
}
.banner{
    margin: 2% 2% 2% 2%;
    width: 25%;
}

.banner:hover{
    max-width: 38%;
    transform: scale(1.01);
    transition: 500ms;
}

button{
    cursor: pointer;
    margin: 2% 0% 0% 2%;
    max-width: 100%;
    background-color:#141414;
    border: none;
}

.poster{
    max-width: 100%;
    margin:auto;
}

dialog{
    background-color: rgb(0, 0, 0);
    margin: auto;
    position: relative;
    
}

.material-symbols-outlined{
    cursor: pointer;
    margin-left: 95%;
    margin-top: 1%;
    margin-bottom: -1%;
    display: block;
    color: #ffffff6c;
}

.material-symbols-outlined:hover{
    cursor: pointer;
    margin-left: 95%;
    margin-top: 1%;
    margin-bottom: -1%;
    display: block;
    color: #ffffff;
}

.button{
    cursor: pointer;
}

dialog > video{
    width: 100%;   
}

dialog::backdrop{
    background-color: rgba(0, 0, 0, 0.616);
}

footer{
    margin-top: 2%;
    background-color: black;
    text-align: center;
}